%h1 Scrabble Score
%p
  To use this service, send an HTTP request to this endpoint:

%pre
  http://www.cspp52553.com/scrabble/{word}.json

%p For example:

%pre
  http://www.cspp52553.com/scrabble/{hockey}.json

%p
  You'll get a JSON response that will include the Scrabble score for that word.

