.row
  .span9
    %h1 Scrabble Score

    %h3
      Hello! You've reached an HTML representation of this service.

    %p
      To use this service, send another HTTP request to this endpoint:

    %pre
      http://www.cspp52553.com/scrabble/{word}.json

    %p
      Note the
      %code .json
      at the end of the url.

    %p
      %strong For example:

    %pre
      http://www.cspp52553.com/scrabble/hockey.json

    %p
      You'll get a JSON response that will include the Scrabble score for that word.

