.span8.news
  %h1
    News

  %ul.unstyled
    %li
      %h3 Classes Start Wednesday, January 9, at 5:30pm sharp

      %p
        %strong Location:
        %br
        The Starter League
        %br
        Web Development Classroom
        %br
          = link_to "Merchandise Mart, 12th Floor (inside the 1871 Tech Center)", '#'

        %br
        = render 'map'
        %p
          %strong Directions:
          %br
          Take the Orleans Elevators at the west end of the building to the 12 floor.  You'll be at the entrance to the
          = link_to "1871 Technology Center", '#'
          (Suite 1212).  The Starter League is on your right just past the front desk.

