.span4
  .well
    %h2
      Resources

    %ul
      %li= link_to "Homework Repository on GitHub", homework_url
      %li= link_to "Course Syllabus", '#'

  .well
    %h2 Instructors
    %p
      Jeff Cohen (Lecturer)
      = mail_to "jeffcohen@cs.uchicago.edu"
    %p
      Raghu Betina
    %p
      Brian Eng
