.page-header
  .row
    .span3
      = link_to image_tag('kellogg.png'), root_url

    .span7
      %h1
        = link_to 'ENTR-925 Startup Programming and Management', root_url

      %p.lead
        Spring 2013,
        Jacobson Room 166

    .span1.pull-right
      %a{href: 'http://github.com/entr925', class: 'extlink', style: 'font-size: 48px'}
        %i.icon-github

  .clearfix
