.page-header
  .row
    .span3
      = link_to image_tag('uc.jpg'), root_url

    .span7
      %h1
        = link_to 'CSPP 52553 Web Development', root_url

      %p.lead
        Spring 2013




    .span1.pull-right
      %a{href: 'http://github.com/cspp52553', class: 'extlink', style: 'font-size: 48px'}
        %i.icon-github
  .row
    .span6
      = link_to "Spring 2013", root_url
      |
      = link_to "Winter 2013", winter2013_path


  .clearfix
