.page-header
  .span3
    = image_tag 'uc.jpg'#, class: 'img-polaroid'

  .span7
    %h1
      CSPP 52553 Web Development

    %p.lead
      Winter 2013




  .span1.pull-right
    %a{href: 'http://github.com/cspp52553', class: 'extlink', style: 'font-size: 48px'}
      %i.icon-github


  .clearfix
