.row.chunk
  .span4
    = link_to image_tag('UChicago_CMYK_MAROON.jpg', :class => 'span3 extlink'), 'http://csmasters.uchicago.edu'
  .span8
    %h1
      = link_to 'University of Chicago', 'http://csmasters.uchicago.edu', class: 'extlink'
      %small Lecturer

    %p.lead
      I developed the curriculum and currently teach the graduate-level Web Development course in the Masters Program in Computer Science.

