%h2 Let's Play!  Choose One:

= link_to rock, rps_path(:choose => 'rock'), method: 'post'
= link_to paper, rps_path(:choose => 'paper'), method: 'post'
= link_to scissors, rps_path(:choose => 'scissors'), method: 'post'
