// Place all the styles related to the rps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rps {
  img {
    padding: 40px;
    padding-left: 0px;
    width: 300px;
  }
}
